
body {
	background: green;
	color: red;
}

header {
	background: black;

	
}

section#logo{
	background: black;

	align-content: center;
}

section#banner{
	background: #424242;
	color: aqua;
	width: 800px;
	height: 200px;
}

section#nombre{
	background: black;
	color: #ffffff;
	padding: 20px;
	text-align: center;

}

h1#titulo1{
	font-family: Copperplate Gothic Light;
	text-align: center;
	color: red;
}
p#titulo2{
	font-family: BernhardMod BT;
}
#titulo3{



}
.contenedor-main {
	margin-bottom: 20px;
	
}

main {
	background:black;
	color: #ffffff;
	padding: 20px;
	
}

aside {
	background: #dee5e8;
	padding: 60px 0;
	color: #0d47a1;
}

.widgets {
	background: #f2f2f2;
	color: #424242;
	margin-bottom: 20px;
}

.widgets > div {
	background: #2196f3;
	color: #fff;
	padding: 20px;
}

footer {
	padding: 20px;
	background: black;
	color: white;
	text-align: center;
	font-family: Brush Script MT;
}